body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#container {
  position: fixed;
  max-height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  border: 1px solid red;

  max-width: 124rem;
}

#container::-webkit-scrollbar {
  display: none;
}

.row {
  /* position: relative; */
  margin: .5rem auto;
  padding: 3vh;
  border-radius: 10px;
  text-shadow: #3c3c3c 0 1px 1px;
  color: #f2f2f2;
  width: 30vw;
  overflow-wrap: break-word;
  /* color:#3c3c3c; */
  /* display: flex; */
  /* justify-content: center; */
  background: #3c3c3c;
}

/* CSS Syntax */
/* animation: name duration timing-function delay iteration-count direction fill-mode play-state; */
.intro {
  animation: fadein 2s;
  transition: all 1s;
}

.outro {
  animation: fadeout 1s;
  /* animation: fadein 3s reverse forwards; */
  /*<--I tried reversing the initial fadein animation for less code lines with this but it seems it doesnt work out as expected so i guess you shoulf to create a new keyframe animation name for this one like i did above */
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.notif-progress-bar {
  position: relative;
  top: 2vw;
  background: yellow;
  border-radius: 10px;
  box-shadow: black 0 2px 6px;
  height: 2px;
  transition: width .2s;
  /*<--for smooth transition */
}

.clearbtn {
  background: #3c3c3c;
  border-radius: 10px;

}

.success {
  background: linear-gradient(128deg, #b6ff40 0%, #3fff47 100%);
}

.error {
  background: linear-gradient(128deg, #ff409c 0%, #ff3f3f 100%);
}

.alert {
  background: linear-gradient(128deg, #ff9a3fff 0%, #ff4b40 100%);
}

.info {
  background: linear-gradient(128deg, #40afff 0%, #3f57ffff 100%);
}

.custom {
  background: linear-gradient(128deg, #404cff 0%, #ae3fff 100%);
}


.trigger {
  margin: 20vh;
}

.trigger button {
  background: #3c3c3c;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0 10px;
  height: 40px;
  width: 180px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  border-radius: 10px;
  display: block;
  margin: 0 auto 20px;
  transition: background 1s;
}

.trigger button:hover {
  background: rgb(0, 120, 255);
  border: rgba(0, 253, 198, 0.6) solid;
}

.trigger button:last-of-type {
  margin-bottom: 0
}

